@import 'normalize.scss';


$primaryFontFamily:'Kumbh Sans',
sans-serif;
$primaryFontSize:12px;

$Text-Very-dark-desaturated-blue:#1d1e35;
$Text-Soft-red:#f47c57;
$Text-Very-dark-grayish-blue: #4a4b5e;
$Text-Dark-grayish-blue: #787887;

$Background-Soft-violet: #af67e9;
$Background-Soft-blue: #6565e7;

$Dividers-Light-grayish-blue: #e7e7e9;

body {
    font-family: $primaryFontFamily;
    font-size: $primaryFontSize;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient($Background-Soft-violet, $Background-Soft-blue);
}

button {
    background: none;
    border: none;
    padding: 0;
}

.wrapper {
    width: 920px;
    height: 510px;
    background: #fff;
    background-image: url("../images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-position: -575px -295px;
    border-radius: 20px;
    display: flex;
    justify-content: flex-end;


    .wrapper-images {
        height: 100%;
        width: 50%;
        position: relative;
        background-image: url("../images/illustration-woman-online-desktop.svg");
        background-repeat: no-repeat;
        background-position: -83px 70px;


        .box {
            position: absolute;
            transform: translate(-130px, 205px);


        }
    }

    .wrapper-content {
        width: 50%;

        .accordion {
            width: 100%;
            display: flex;
            justify-content: space-between;
            // border-bottom: 1px solid $Dividers-Light-grayish-blue;
            color: $Text-Very-dark-grayish-blue;

            &:hover {
                color: $Text-Soft-red;
            }

            &:focus {
                font-weight: 700;
                color: $Text-Very-dark-desaturated-blue;
                // font-size: 20px;
                outline: none;
            }
        }

        h1 {
            color: $Text-Very-dark-desaturated-blue;
            font-weight: 700;
        }

        .panel {
            display: none;
            color: $Text-Dark-grayish-blue;
        }

        .wrapper-accordion {
            border-bottom: 1px $Dividers-Light-grayish-blue solid;
        }
    }
}